:root {
  // PieChart Colors and Doughnut Chart Colors and RadarChart and Radial Chart and polarchart
  // Vibrant Colors
  --color-red: #ff6384;
  --color-blue: #36a2eb;
  --color-yellow: #ffce56;
  --color-green: #4bc0c0;
  --color-orange: #ff9f40;
  --color-purple: #9966ff;
  --color-pink: #ff6384;
  --color-teal: #4bc0c0;
  //PieChart  Pastel Colors
  --color-pastel-red: #ffb3b3;
  --color-pastel-blue: #b3d9ff;
  --color-pastel-yellow: #ffe699;
  --color-pastel-green: #b3ffcc;
  --color-pastel-orange: #ffd9b3;
  --color-pastel-purple: #e6b3ff;
  --color-pastel-pink: #ffcce6;
  --color-pastel-teal: #b3ffff;

  // Bar Graph variables
  --bar-color-1: #4caf50;
  --bar-color-2: #2196f3;
  --bar-color-3: #2b51c1;
  --bar-color-4: #f44336;
  --bar-color-5: #9c27b0;

  //Line Graph Colors
  // Light Theme Colors
  --light-line-color-1: #4caf50;
  --light-line-color-2: #2196f3;
  --light-line-color-3: #ff9800;
  --light-line-color-4: #f44336;
  --light-line-color-5: #9c27b0;
  // Dark Theme Colors
  --dark-line-color-1: #66bb6a;
  --dark-line-color-2: #64b5f6;
  --dark-line-color-3: #ffb74d;
  --dark-line-color-4: #ef5350;
  --dark-line-color-5: #ba68c8;
}
